@charset "utf-8";

@mixin clearfix {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        line-height: 0;
        overflow: hidden;
    }
}
body{
    background: #fafafa !important;
}
#register{
    width: 840px;
    margin: 0 auto;
    background: 0 0;
    .header{
        @include clearfix();
        h1{
            background-image: url(../images/indeximg/ia_100000003.png);
            background-repeat: no-repeat;
            width: 121px;
            height: 75px;
            text-indent: -9999px;
            float: left;
            @include clearfix();
            margin-top: 25px;
        }
        h2{
            background-image: url(../images/indeximg/ia_100000004.png);
            background-repeat: no-repeat;
            width: 175px;
            height: 75px;
            float: left;
            @include clearfix();
            margin-top: 25px;
        }
    }
    .main{
        border: 1px solid #f0f0f0;
        background: #fff;
        min-height: 260px;
        margin: 40px auto 0;
        .main_auto{
            position: relative;
            padding: 50px 0;
            .mock{
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: #ccc;
                    z-index: 5;
                    opacity: .9;
                    background-image: url(../images/indeximg/bx_loader.gif);
                    background-repeat: no-repeat;
                    background-position: center;
            }
                .m_h5 {
                    font-weight: 400;
                    font-size: 28px;
                    color: #000;
                    padding-bottom: 30px;
                    text-align: center;
                }
                .m_form{
                        width: 400px;
                        margin: 0 auto;
                        .layui-form-item{
                            .layui-btn-fluid{
                                    width: 75%;
                                    float: right;
                            }
                            .layui-input-block{
                                .lxx{
                                    width: 170px;
                                    float: left;
                                    margin-right: 4px;
                                }
                            }
                        }
                }
        }
    }
}